<h2 id="%%filepath%%">%%filepath%%</h2>
<div class="detailDiv">
<table  class="table detailTable">
	<thead>
		<tr>
			<th class="tableHead">
                Line #
            </th>
            <th class="tableHead">
                Error Message
            </th>
			<th class="tableHead">
                Level
            </th>
			
		</tr>
	</thead>
	<tbody>