<br/>
<h1>Summary</h1>

<div class="summaryDiv">
<table class="table summaryTable">
	<tr>
		<td class="tableHead summaryLeftCell">Number of Files Tested</td>
		<td class="tableCell summaryRightCell">%%nb_files%%</td>
	</tr>
	<tr>
		<td class="tableHead summaryLeftCell">Number of Files With Errors</td>
		<td class="tableCell summaryRightCell">%%nb_files_error%%</td>
	</tr>
	<tr>
		<td class="tableHead summaryLeftCell">Total Number of Errors</td>
		<td class="tableCell summaryRightCell">%%nb_total_errors%%</td>
	</tr>
</table>
</div>