<tr>
	<td class="tableCell detailLineCell">%%line%%</td>
	<td class="tableCell detailMessageCell"><span title="Rule : %%check%%">%%message%%</span></td>
	<td class="tableCell detailLevelCell">%%level%%</td>
</tr>