<!DOCTYPE html>
<html>
	<head>
		<title>PHPCheckstyle Results</title>
		<link href="css/global.css" rel="stylesheet" type="text/css"/>
	</head>
	
	
	<body>
	
		<div class="banner">
				<a href="http://code.google.com/p/phpcheckstyle/" target="_blank">
					<img src="images/Logo_phpcheckstyle.png"/>
				</a>
				<span class='title'>&nbsp;PHPCheckstyle</span>
		</div>
		