<br/>
<h1>Summary</h1>
<table class="dataTable">
	<tr>
		<td class="tableHead">Number of Files Tested</td>
		<td class="tableCell"><span class="emphasis">%%nb_files%%</span></td>
	</tr>
	<tr>
		<td class="tableHead">Number of Files With Errors</td>
		<td class="tableCell"><span class="emphasis">%%nb_files_error%%</span></td>
	</tr>
	<tr>
		<td class="tableHead">Total Number of Errors</td>
		<td class="tableCell"><span class="emphasis">%%nb_total_errors%%</span></td>
	</tr>
</table>
